.header li{
    /* change the element to inline-block */
    display: inline-block;
    margin-left:2%;
}
li a{
    text-decoration: none;
    font-size: 3%;
    font-size: 25px;;
}
li a:hover{
    /* change the element to inline-block */
    cursor: pointer;
    text-decoration: underline;
}
.active_menu{
    background-color: #7a14ee;
    color: #fff;
}

span{
    color: red;
}

.footer{
    background-color: #e9e9e9;
    padding: 2% 0;

    text-align: center;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}
.container{
    /* top and bottom is 0 
        right and left is auto
     */
    
    background-color: #e9e9e9;
    text-align: center;
}

.bg-color{
    background-color: red;
}
.box {
    border: 2px solid #000;
    background-color: #1a65e6;
    height: 450px;
    width: 10%;
}
.leftbox{
    float: left;
}
.rightbox{
    float: right;
}

.box li{
    /* bullet will be rmoved */
    list-style-type: none;
    text-align: left;
    
}
.box li a{
    color: #fff;
    text-align: left;
}
.page-content{
    color: #fff;
}
.left-bg{
    background-color: #c1cad9;
}
.content-bg{
    background-color: #e9e9e9;
}
.right-bg{

    background-color: #6915c9;
}
.header{
    
    margin: 0 auto;
    width: 50%;
    
}

.ver-menu{
    display: block;
}
.ver-menu .nav-link{
    text-align: left;
    color: #fff;
}