<div class="container">
<app-header menuname="home" name="sample value from home"></app-header>
<div class="content">
  
    <h1>This is <span>{{pageName | uppercase}}</span> html content</h1>
</div>
    <!-- data binding-- display the variable from ts -->
    
    <div class="bg-color">{{firstName}}</div>
    <div>
        <div class="box leftbox">
         
            <ul>
                <li>
                    <a  href="home.html">{{pageName}}</a>
                </li>
                <li>
                    <a href="about.html" class="link">About </a>
                </li>
                <li>
                    <a href="contact.html" class="link">Contact</a>
                </li>
            </ul>
        </div>
        <div class="content">
            <div>
                <!-- two way data bindig -->
                <input [(ngModel)]="login_email" type="text" placeholder="Enter Login">
            </div>
            <div>
                <input [(ngModel)]="login_password" type="password" placeholder="Enter Password">
            </div>
            
          <div>
              <input type="button" value="CLick to Login" (click)="form_validation()">
          </div>
          <h1>{{error}}</h1>
          <button (click)="getHttpCall()">Get Http Call</button>
          <button (click)="postHttpCall()">Post Http Call</button>
          <button (click)="getPageCOunt()">POSt Call with Http Header</button>
     
        </div>
        <div class="box rightbox">
            <ul>
                <li>
                    <a  href="home.html">Login</a>
                </li>
                <li>
                    <a href="about.html" class="link">Registration </a>
                </li>
              
            </ul>
        </div>
    </div>
    <button (click)="listUser(0)">List THe users</button>
<!-- whose id is 4 it want to hide the user -->
    <div class="user-list"  *ngFor="let user of userlist">
        <span>{{user.name}}--{{user.email}}</span>
        <button (click)="naviagetToedit()" *ngIf="userid == user.id">Edit</button>
    </div>
    <div>
        <button (click)="listUser(page)" *ngFor="let page of pageCount">{{(page+1)}}</button>
    </div>
    <div *ngFor="let user of serJsonRespone">
        {{user.name}}
        {{user.address?.cityname}}
        {{user.address?.pincode}}
    </div>
    </div>