<div class="container">
<app-header></app-header>
<div class="content">
    <h1>This is <span>{{pageName}}</span> html content</h1>
</div>
    <!-- data binding-- display the variable from ts -->
    
    <div class="bg-color">{{firstName}}</div>
    <div>
        <div class="box leftbox">
            <ul>
                <li>
                    <a  href="home.html">{{pageName}}</a>
                </li>
                <li>
                    <a href="about.html" class="link">About </a>
                </li>
                <li>
                    <a href="contact.html" class="link">Contact</a>
                </li>
            </ul>
        </div>
        <div class="content">
            <div>
                <!-- two way data bindig -->
                <input [(ngModel)]="login_email" type="text" placeholder="Enter Login">
            </div>
            <div>
                <input [(ngModel)]="login_password" type="password" placeholder="Enter Password">
            </div>
            
          <div>
              <input type="button" value="CLick to Login" (click)="form_validation()">
          </div>
          <h1>{{error}}</h1>
          <button (click)="getHttpCall()">Get Http Call</button>
          <button (click)="postHttpCall()">Post Http Call</button>
          <button (click)="postHttpCallWithHeader()">POSt Call with Http Header</button>
     
        </div>
        <div class="box rightbox">
            <ul>
                <li>
                    <a  href="home.html">Login</a>
                </li>
                <li>
                    <a href="about.html" class="link">Registration </a>
                </li>
              
            </ul>
        </div>
    </div>
    </div>